$root-element: "awssld";
$cos45: 0.7071;
$transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
$slider-height-percentage: 60%;
$slider-transition-duration: 200ms;

$organic-arrow-color: #6a6a6a;
$organic-arrow-thickness: 4px;
$organic-arrow-height: 40px;
$organic-arrow-border-radius: 0;
$control-button-width: 10%;
$control-button-height: 25%;
$control-button-opacity: 0.5;
$control-button-hover-opacity: 0.75;
$control-button-background: transparent;
$loader-bar-color: #851515;
$loader-bar-height: 6px;
$control-bullet-color: #6a6a6a;
$control-bullet-active-color: #6a6a6a;
$content-background-color: #2f2f2f;

%fill-parent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

%clear-spacing {
  padding: 0;
  margin: 0;
}

%clear-focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}

%clear-selection {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.#{$root-element} {
  --transparent: rgba(0, 0, 0, 0);
  --organic-arrow-thickness: #{$organic-arrow-thickness};
  --organic-arrow-height: #{$organic-arrow-height};
  --slider-height-percentage: #{$slider-height-percentage};
  --loader-bar-color: #{$loader-bar-color};
  --loader-bar-height: #{$loader-bar-height};
  --control-button-width: #{$control-button-width};
  --control-button-height: #{$control-button-height};
  --control-button-opacity: #{$control-button-opacity};
  --control-button-hover-opacity: #{$control-button-hover-opacity};
  --control-button-background: #{$control-button-background};
  --transition-bezier: #{$transition-bezier};
  --slider-transition-duration: #{$slider-transition-duration};
  --organic-arrow-color: #{$organic-arrow-color};
  --organic-arrow-border-radius: #{$organic-arrow-border-radius};
  --control-bullet-color: #{$control-bullet-color};
  --control-bullet-active-color: #{$control-bullet-active-color};
  --content-background-color: #{$content-background-color};
}

.slide {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
}

.#{$root-element} {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;

  &__wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__container {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: var(--slider-height-percentage);

    @media all and (max-width: 500px) {
      padding-bottom: calc(var(--slider-height-percentage) * 1.25);
    }

    figure {
      @extend %fill-parent;
    }
  }

  &__startUp {
    background-color: red;
    height: 100%;
    width: 100%;

    > div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 35%;
      height: auto;
    }
  }

  &__content {
    @extend %fill-parent;
    background-color: var(--content-background-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    > img,
    > video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__controls button {
    @extend %clear-focus;
    width: var(--control-button-width);
    height: var(--control-button-height);
    top: calc(50% - (0.5 * var(--control-button-height)));
    background-color: var(--transparent);
    position: absolute;
    z-index: 10;
    border: none;
    cursor: pointer;
  }

  &__next {
    right: 0;
  }

  &__prev {
    left: 0;
  }

  &__box {
    z-index: 1;
    @extend %fill-parent;
  }

  &--animated {
    will-change: transform;
    // transition: transform var(--slider-transition-duration)
    //   var(--transition-bezier);
  }

  &--animated-mobile {
    will-change: transform;
    transition: transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1);
  }

  &--active {
    z-index: 2;
    transform: translate3d(0, 0, 0);
  }

  &--moveRight,
  &--moveLeft {
    backface-visibility: hidden;
  }

  &--moveRight {
    animation: slideFromRight var(--slider-transition-duration) both
      var(--transition-bezier);
  }

  &--moveLeft {
    animation: slideFromLeft var(--slider-transition-duration) both
      var(--transition-bezier);
  }

  &--exit {
    z-index: 0;

    &.#{$root-element}--moveLeft {
      animation: slideToLeft var(--slider-transition-duration) both
        var(--transition-bezier);
    }

    &.#{$root-element}--moveRight {
      animation: slideToRight var(--slider-transition-duration) both
        var(--transition-bezier);
    }
  }

  &--fill-parent {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;

    .#{$root-element}__container {
      height: 100%;
      padding: 0;
    }
  }
}

@keyframes slideFromLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}